
tr.foodannotation_headline {
	background-color: 	#ACACAC;
}

tr.foodannotation_even {
	background-color: 	#EFEFEF;
}

tr.foodannotation_odd {
	background-color: 	#DCDCDC;
}

caption {
	text-align: 	left;
	font-weight:	bold;
}

div.fooddiary_outer_div{
	width: 100%;
}

div.fooddiary_images {
	float: left;
	clear: right;
	border: 1px solid #000000;
}

div.fooddiary_portions {
	float: left;
	border: 1px solid #000000;
}

div.fooddiary_clear {
	clear: both;
}

div.food_table {
	margin: 10px 0px 0px 0px;
}

table.fooddiary_portion_table { 
	margin: 0px 0px 10px 0px; 
	border: 1px solid #000000; 
	border-collapse:collapse;
}

th.fooddiary_portion_table_th {
	padding: 2px 5px 2px 10px;   
	border: 1px solid #000000; 
	border-collapse:collapse;
}

td.fooddiary_portion_table_td {
	padding: 2px 5px 2px 10px;   
	border: 1px solid #000000; 
	border-collapse:collapse;
}

table.fooddiary_table_table {
	width: 				410px; 
	border: 			1px solid #000000; 
	border-collapse:	collapse;
}

input.pi_fooddiary_date {
	width: 				80px !important;
}