/* $Id: cti-flex.css,v 1.1 2009/08/21 20:05:37 aross Exp $ */ 

/** --------------------- DEFAULT GRAY COLOR SCHEME ----------------------- **/
/** - Styles/images for other color schemes are in the "colors" directory - **/

body {
	background-color: #e7e7e7;
	color: #323232;
}

a {
	color: #0040B8;
}

#page {
    background-color: #fff;
}

#header-inner,
#footer {
	background-color: #bbb;
}

#navbar{
   	background-color: #888;
}

#suckerfishmenu	 {
  	background-color: #888;
}

#suckerfishmenu a,
#suckerfishmenu ul.menu li ul a {
  	color: #fff;
}

#suckerfishmenu ul.menu li ul a {
  	background-color: #888;
}

/** ---------------------------- FONTS ------------------------------------ **/

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset  {
    font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
}

body {
    font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
}

#page {
    /* Use a 12px base font size with a 16px line height */
    font-size: 0.75em; 
    line-height: 1.333em; 
}

h1 {
	font-size: 160%;
}

h2 {
	font-size: 140%;
}

h3 {
	font-size: 130%;
}

h4 {
	font-size: 120%;
}

h5 {
	font-size: 110%;
}

/** ----------------------------- TABLES ---------------------------------- **/

table  {
    border-collapse: collapse;
    width: 100%; 
    margin-bottom:15px;  
}

th,
thead th,
tbody th {
    text-align: left;
    padding-right: 0;
    border-bottom: none;
}

tbody {
    border-top: none;
}

thead th {
	background: #DDD;
	border: 1px solid #cccccc;
	padding: 6px 5px;
}

tr.odd td, tr.even td {
	padding:8px 5px;
	border:1px solid #cccccc;
}

tr.odd td { background:#FFFFFF; }

tr.even td { background:#F2F2F2; }


/** ---------------------------------- BODY ------------------------------- **/

body {
	margin: 0;
	padding: 10px;
}

/** ------------------------------- HEADER -------------------------------- **/

#header-inner {
    padding: 10px;
}

#logo-title {
    float: left;
    margin: 5px 0 0 20px;
}

#logo   {
    float: left;
    margin: 0 10px 0 0;
}

#title-slogan {
    float: left;
    margin-bottom: 10px;
    line-height: 0;
}

h1#site-name {
    margin: 0;
    font-size: 2.8em;
    padding: 0;
    line-height: 1em;
}

.no-slogan h1#site-name {
	margin-top: 10px;
}

#site-name a:link,
#site-name a:visited {
    color: #000;
    text-decoration: none;
}

#site-name a:hover {
    text-decoration: underline;
}

#site-slogan   {
    margin: 10px 0 5px 0;
	font-size: 1.3em;
	font-weight: bold;
}

/* Secondary links */
#secondary {
    float: right;
}

#secondary,
#secondary a {
	font-weight: bold;
}

#secondary ul.links li { 
	padding:0 5px 0 10px; 
	margin: 0;
}

#secondary ul.links li.first { 
	padding:0 5px 0 6px; 
}


/** ------------- NAVIGATION BAR (PRIMARY LINKS AND SEARCH) --------------- **/

.region-navbar #search-box {
	margin-top: 4px;
}

/* Hide label that says "Search this site:" */
#edit-search-theme-form-1-wrapper label {
    	display: none;
}

.region-navbar #search .form-submit {
	padding: 0px 2px 1px 2px;
	font-size: 13px;
    font-weight: bold;
}

/* PRIMARY LINKS (A SUCKERFISH STYLE DROPDOWN MENU) */

/* FOR MORE INFO ABOUT ANOTHER SON OF SUCKERFISH...
http://www.htmldog.com/articles/suckerfish/dropdowns/
http://www.alistapart.com/articles/horizdropdowns
*/

#suckerfishmenu	 {
  	line-height: 32px;
    padding-left: 10px;
}

#suckerfishmenu ul.menu { /* top level ul */
  	padding: 0 0 0 0px;
  	list-style: none;
  	z-index: 3;
  	display: inline;
} 

#suckerfishmenu a {
  	display: block;
  	padding: 0px 14px 0px 14px; /* padding between menu elements */
  	text-decoration: none;
  	font-size: 125%;
  	font-weight: bold;
}

#suckerfishmenu a:hover {
    text-decoration: underline;
}

#suckerfishmenu li {
  	display: inline;
  	float: left;
  	margin: 0;
  	padding: 0;
  	height: 1%;
}

/* SECOND LEVEL LISTS */

#suckerfishmenu ul.menu ul {
  	padding: 0;
  	margin: 0;
  	list-style: none;
	border-top: 1px solid #fff;
}

#suckerfishmenu ul.menu li ul {
  	position: absolute;
  	width: 200px;
  	left: -999em; /* to hide menus */
}

#suckerfishmenu ul.menu li li {
  	/* height: auto; */
  	float: left;
  	width: 200px;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  	width: 170px;
}

#suckerfishmenu ul.menu li ul a {
  	width: 200px;
  	line-height: 24px;
	font-weight: bold;
	font-size: 95%;
	border: 1px solid #fff;
    border-top: none;
}

/* margin for pullouts */
#suckerfishmenu ul.menu li ul ul {
  margin: -25px 0px 0px 199px;
}

#suckerfishmenu ul.menu li:hover ul ul, 
#suckerfishmenu ul.menu li:hover ul ul ul, 
#suckerfishmenu ul.menu li.sfhover ul ul, 
#suckerfishmenu ul.menu li.sfhover ul ul ul {
  left: -999em;
}

#suckerfishmenu ul.menu li:hover ul, 
#suckerfishmenu ul.menu li li:hover ul, 
#suckerfishmenu ul.menu li li li:hover ul, 
#suckerfishmenu ul.menu li.sfhover ul, 
#suckerfishmenu ul.menu li li.sfhover ul, 
#suckerfishmenu ul.menu li li li.sfhover ul {
  left: auto;
}

/** ---------------------- MAIN CONTENT REGION ---------------------------- **/

.breadcrumb {
    padding-bottom: 0; /* Undo system.css */
	font-size: 95%;
	margin-bottom: 5px;
	color: #888;
}

.breadcrumb a {
	color: #888;
}

h1.title, 
h2.title, 
h3.title   {
    	margin: 0;
}

.help   {
	margin: 1em 0;
}

.more-help-link   {
    font-size: 0.85em;
    text-align: right;
}

/* A list of page numbers when more than 1 page of content is available */
.pager {
    clear: both;
    margin: 1em 0;
    text-align: center;
}

.pager a, 
.pager strong.pager-current {
    padding: 0.5em;
}

/* The links to the RSS or Atom feeds for the current list of content */
.feed-icons {
    margin: 1em 0;
}

/** ---------------------------- SIDEBARS --------------------------------- **/

/** sidebar-left **/
#sidebar-left-inner { 
	margin: 13px 10px 10px 13px;
}

/** sidebar-right **/
#sidebar-right-inner {
	margin: 13px 13px 10px 10px;
}

/** ---------------------------- FOOTER ----------------------------------- **/

#footer-inner {
	padding: 10px 20px;
	text-align: center;
}

/** ----------------------------- NODES ----------------------------------- **/

.node {
	font-size: 110%;
	line-height: 130%;
}

.node .node {
    font-size: 100%;
}

.node h2.title {
	font-size: 140%;
}

.breadcrumb {
	font-size: 100%;
	margin-bottom: 10px;
}

.submitted {
	color: #888;
	font-size: 85%;
}
.node .content {
    margin: 10px 0;
}

.node-unpublished div.unpublished, 
.comment-unpublished div.unpublished {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
}

.marker {
    	color: #c00;
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
    	position: relative; 
}

/* Special formatting for nodes in lists */
.node .list-node h2.title {
	font-size: 110%;
	margin: 15px 0 5px 0;
}

/** ---------------- LINKS UNDER NODES AND TAXONOMY LINKS ----------------- **/

.node ul.links {
    margin: 10px 0 0 0;
    padding: 0;
}

.node ul.links.inline {
    display: inline;
	float: right;
	margin-bottom: 25px;
}

.node ul.links li {
    display: inline;
    list-style-type: none;
    padding: 0 7px;
}

.node-links ul.links li a {
	font-weight: bold;
}

.node .terms {
    font-size: 85%;
}

.node .terms ul.links.inline {
	float: none;
}

/** ----------------------------- COMMENTS -------------------------------- **/

#comments   {
	clear: both;
    margin: 20px 0;
}

#comments-title {
	background-color: #ddd;
	padding: 3px 10px;
}

.comment {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}

.new {
    	color: #c00;
}

.comment div.links {
    	margin: 1em 0;
}

.comment .submitted {
	clear: left;
}

/** ----------------------------- BLOCKS ---------------------------------- **/

.block {
	border: none;
	padding: 0;
    margin-bottom: 15px;
}

.block ul {
	margin-top: 0px;
	margin-left: 15px;
	padding-left: 0;
}

.block ul li {
	margin-bottom: 4px;
}

.block ul li.expanded ul {
	margin-top: 4px;
	margin-left: 20px;
}

.block h2.title {
	font-size: 110%;
	padding: 2px 10px;
}

#sidebar-left .block h2.title a,
#sidebar-right .block h2.title a {
	color: #fff;
}

#sidebar-left .block h2.title,
#sidebar-right .block h2.title{
	color: #fff;
	padding: 4px 10px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    border: 1px solid #888;
    background-color: #888;
}

#sidebar-left .block .content,
#sidebar-right .block .content{
	margin: 0;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    border-top: none;
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7;
	padding: 10px;
}


/** -------------------- CUSTOM BULLETS IN BLOCKS ------------------------- **/

.block ul li {
  	list-style-type: circle;
  	list-style-image: url(images/menu-leaf2.png);
}

.block ul li.collapsed {
    list-style-image: url(images/menu-collapsed-rtl.png);
}

.block ul li.expanded {
    list-style-image: url(images/menu-expanded.png);
}

.block ul li.collapsed {
    list-style-image: url(images/menu-collapsed.png); /* LTR */
}

.block ul li.leaf {
    list-style-image: url(images/menu-leaf2.png);
}

/** ----------------------- DRUPAL FORMS ---------------------------------- **/

/* Wrapper for a form element (or group of form elements) and its label */
.form-item, 
.form-checkboxes,
.form-radios {
    	margin: 1em 0;
}

/* Highlight the form elements that caused a form submission error */
.form-item input.error, 
.form-item textarea.error,
.form-item select.error {
    	border: 2px solid #c00;
}

.form-item label  {
    	display: block;
    	font-weight: bold;
}

/* The label for a radio button or checkbox */
.form-item label.option {
    	display: inline;
    	font-weight: normal;
}

/* The part of the label that indicates a required field */
.form-required {
    	color: #c00;
}

/* The descriptive help text (separate from the label) */
.form-item .description {
    	font-size: 0.85em;
}

/* Pack groups of checkboxes and radio buttons closer together */
.form-checkboxes .form-item, 
.form-radios .form-item {
    	margin: 0.4em 0;
}

/* Inline labels and form divs */
.container-inline div, 
.container-inline label {
    	display: inline;
}

/* Tips for Drupal's input formats */
.tips {
    	margin: 0;
    	padding: 0;
    	font-size: 0.9em;
}

/** ----------------------------- DRUPAL ADMIN TABLES -------------------- **/

  
form tbody {
    	border-top: 1px solid #ccc;
}

form th {
    	text-align: left;
    	padding-right: 1em;
    	border-bottom: 3px solid #ccc;
}

form tbody th {
    	border-bottom: 1px solid #ccc;
}

form thead th {
    	text-align: left;
    	padding-right: 1em;
    	border-bottom: 3px solid #ccc;
}

/** ----------------------- FORUMS ---------------------------------------- **/

.forum_node .node {
	padding: 5px 20px 30px 20px;
 	margin-bottom: 0px;
}

.view-content .forum_node .node {
       border: none;
	background-color: #fff;
}

.forum_node h3.title {
	font-size: 150%;
	margin: 15px 0px 0px 0px;
	padding-left: 0px;
}

.forum_node .submitted {
	font-size: 90%;
	color: #666;
}

.forum_node .content {
	margin-top: 10px;
}

.view-content .forum_node .node h3.title {
	font-size: 120%;
}

.forum-topic-navigation {
	clear: both;
    margin-top: 15px;
}

#forum ul.links {
	margin-top: 15px;
}

#forum li.forum {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

td.forum .name {
	font-size: 110%;
}

td.forum .name a {
	font-weight: bold;
}

/** -------------------------- MISC -------------------------------- **/

/* Aggregator, blog, and forum more link */
.more-link {
    text-align: right;
}

/* Drupal's default login form */
#user-login-form {
    text-align: left;
}



