
#div.ahah-progress.ahah-progress-throbber {
  display: block;
  float: none !important;
  clear: both !important;
}

#div.ahah-progress.ahah-progress-throbber > div.throbber {
}

div.description {
  clear: both !important;
}
