

a.external_link div {
  display: inline-block;
  padding-left: 5px; 
  width: 12px;
  height: 12px;
  background: url(icons/external_link.png) center no-repeat;
}
a.external_link span {
  font-size: smaller;
}

