

.nquire-tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  background: #ddd;
  padding: 3px 6px 3px 6px;
  border: 1px solid #aaa;
  font-size: 12px;
  box-sizing: border-box;
}

.nquire-tooltip-hidden {
  display: none;
}

.nquire-tooltip-content {
  
}
