/* 
    Document   : nQuireWidget
    Created on : 17-Jan-2013, 16:00:59
    Author     : edvf2
    Description:
        Purpose of the stylesheet follows.
*/

.nquire-widget-title {
  font-weight: bold;
}

.nquire-widget-description {
  font-size: smaller;
  margin-bottom: 12px;
  clear: both;
}

.description {
  clear:both;
}

