


.nquire-tabs-container {
  border-bottom: 1px solid gray;
  height: 24px;
  margin-bottom: 10px;
}

.nquire-tabs-tab {
  background: #ddd;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 2px 8px 2px 8px;
  height: 17px;
  margin: 2px 0px 0px 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.nquire-tabs-tab.nquire-tabs-tab-selected {
  background: white;
  border-bottom: 1px solid white;
  cursor: default;
}

/*

.layout-tabbed-container {
  position: relative;
  background: white;
}

.layout-tabbed-container-fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
}

.layout-tabbed-container-tabs {

}
.layout-tabbed-container-fullscreen-enabled .layout-tabbed-container-tabs {
  padding-left: 22px;
}


.layout-tabbed-container-tab {
  background: #ddd;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 2px 8px 2px 8px;
  height: 17px;
  margin: 2px 0px 0px 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.layout-tabbed-container-hidden {
  display: none;
}

.layout-tabbed-container-contents {
}

.layout-tabbed-container-content {
  display: none;
  width: 100%;
  height: 100%;
}

.layout-tabbed-container-content.layout-tabbed-container-selected {
  display: block;
}


.layout-tabbed-container-tab.layout-tabbed-container-selected{
  background: white;
  border-bottom: 1px solid white;
}

.layout-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layout-box {
  position: relative;
}
.layout-block {
  position: absolute;
}


.layout-tabbed-container-fullscreen-button {
  position: absolute;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: pointer;

  background-image: url(icons/fullscreen.png);
}
.layout-tabbed-container-fullscreen-button:hover {
  background-image: url(icons/fullscreen_hover.png);
}

.layout-tabbed-container-fullscreen .layout-tabbed-container-fullscreen-button {
  background-image: url(icons/fullscreen_back.png);
}
.layout-tabbed-container-fullscreen .layout-tabbed-container-fullscreen-button:hover {
  background-image: url(icons/fullscreen_back_hover.png);
}

*/