/* $Id: blue.css,v 1.1 2009/08/21 20:05:37 aross Exp $ */

/** ------------------------- HTML ELEMENTS ------------------------------- **/

body {
    background-image: url(images/blue/body_bg.gif);
	color: #323232;
}

a {
	color: #0048BB;
}

#page {
 	border: 1px solid #bbb;
    background-color: #fff;
}

/** ------------------------------ HEADER --------------------------------- **/

#header-inner {
	background: #D5D5D5 url(images/blue/header_bg.gif) top left repeat-x;
}

#site-name a:link,
#site-name a:visited {
    color: #2351A0;
}

#site-slogan   {
	color: #398E00;
}

#secondary,
#secondary a {
	color: #398E00;
}

/* Suckerfish menus (primary links in top nav) */

#navbar{
   	background: #1c50a6 url(images/blue/primary_bg.gif) top left repeat-x;
    border-top: 1px solid #194B9D;
    border-bottom: 3px solid #429c06;
}

#suckerfishmenu a {
  	color: #fff;
}

#suckerfishmenu a.active,
#suckerfishmenu a:hover {
	color: #5FC202;
    text-decoration: none;
}

#suckerfishmenu ul.menu li ul a {
  	color: #fff;
	background-color: #658DCD;
}

#suckerfishmenu ul.menu li ul a:hover {
	background-color: #1C52AB;
}

/* Search submit button */

.region-navbar #search .form-submit {
	border: 2px outset #477BD0;
	color: #eee;
    background-color: #5a8de0;
}

/** ----------------------------- FOOTER ---------------------------------- **/

#footer {
   	background-color: #28549C;
	color: #fff;
}

/** ------------------------------- NODES --------------------------------- **/

.node-links ul.links li a,
.node .terms ul.links.inline li a {
	color: #47841E;
}

/** ----------------------------- BLOCKS ---------------------------------- **/

/* Left column blocks */

#sidebar-left .block h2.title {
   	background: #1348A1 url(images/blue/primary_bg.gif) top left repeat-x;
    border: 1px solid #1C52AB;
}

#sidebar-left .block .content {
    background-color: #EDEDED;
    border: 1px solid #E3E3E3;
}

/* Right column blocks */

#sidebar-right .block .content {
	border: none;
	padding: 0;
    background: none;
}

#sidebar-right .block h2.title {
    padding: 0 0 10px 0;
	color: #323232;
	background: none;
    border: none;
}

#sidebar-right .block,
#sidebar-right .block-1,
#sidebar-right .block-4 {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	padding: 10px;
	border: 1px solid #C0CFE8;
	background-color: #D4E0F4;
}

#sidebar-right .block-2,
#sidebar-right .block-5 {
	border: 1px solid #BBD89C;
	background-color: #CBE4B1;
}

#sidebar-right .block-3,
#sidebar-right .block-6 {
	border: 1px solid #9BB3DB;
	background-color: #b2c8eb;
}

/** --------------------------- COMMENTS ---------------------------------- **/

.comment {
	border: 1px solid #B8C8E2;
}

#comments-title {
	background-color: #D0DEF5;
}

/** -------------------- CUSTOM BULLETS IN BLOCKS ------------------------- **/

.block ul li {
  	list-style-type: circle;
  	list-style-image: url(images/blue/menu-leaf2.png);
}

.block ul li.collapsed {
    list-style-image: url(images/blue/menu-collapsed-rtl.png);
}

.block ul li.expanded {
    list-style-image: url(images/blue/menu-expanded.png);
}

.block ul li.collapsed {
    list-style-image: url(images/blue/menu-collapsed.png); /* LTR */
}

.block ul li.leaf {
    list-style-image: url(images/blue/menu-leaf2.png);
}

/** ------------------------------ TABLES ---------------------------------- **/

thead th {
	background: #CBE4B1;
	border: 1px solid #BBD89C;
}

tr.odd td, tr.even td { border:1px solid #BBD89C;  }

tr.odd td { background:#FFFFFF; }

tr.even td { background:#EAF4E0; }

/** ------------------------------- POLLS -------------------------------- **/

.poll .bar {
  background-color: #234A8E;
}
.poll .bar .foreground {
  background-color: #3B9301;
}





