/* $Id: red.css,v 1.1 2009/08/21 20:05:37 aross Exp $ */

/** ------------------------- HTML ELEMENTS ------------------------------- **/

body {
    background-image: url(images/red/body_bg.gif);
	color: #323232;
}

a {
	color: #8E2C2C;
}

#page {
 	border: 1px solid #bbb;
    background-color: #fff;
}

/** ------------------------------ HEADER --------------------------------- **/

#header-inner {
	background: #D5D5D5 url(images/red/header_bg.gif) top left repeat-x;
}

#site-name a:link,
#site-name a:visited {
    color: #811E1E;
}

#site-slogan   {
	color: #181818;
}

#secondary,
#secondary a {
	color: #181818;
}

/* Suckerfish menus (primary links in top nav) */

#navbar{
   	background: #883133 url(images/red/primary_bg.gif) top left repeat-x;
    border-top: 1px solid #7C2B2D;
    border-bottom: 1px solid #5F2324;
}

#suckerfishmenu a {
  	color: #fff;  
}

#suckerfishmenu a.active,
#suckerfishmenu a:hover {
	color: #EF9494;
    text-decoration: none;
}

#suckerfishmenu ul.menu li ul a {
  	color: #fff;
	background-color: #C57A7A;
}

#suckerfishmenu ul.menu li ul a:hover {
	background-color: #9C3C3C;
}

/* Search submit button */

.region-navbar #search .form-submit {
	border: 2px outset #69191A;
	color: #fff;
    background-color: #69191A;
}

/** ----------------------------- FOOTER ---------------------------------- **/

#footer {
   	background-color: #9C3C3C;
	color: #fff;
}

/** ------------------------------- NODES --------------------------------- **/

.node-links ul.links li a {
	color: #181818;
}

/** ----------------------------- BLOCKS ---------------------------------- **/

/* Left column blocks */

#sidebar-left .block h2.title {
   	background: #883133 url(images/red/primary_bg.gif) top left repeat-x;
    border: 1px solid #8B3335;
}

#sidebar-left .block .content {
    background-color: #EDEDED;
    border: 1px solid #E0E0E0;
}

/* Right column blocks */

#sidebar-right .block .content {
	border: none;
	padding: 0;
    background: none;
}

#sidebar-right .block h2.title {
    padding: 0 0 10px 0;
	color: #323232;
	background: none;
    border: none;
}

#sidebar-right .block,
#sidebar-right .block-1,
#sidebar-right .block-4 {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	padding: 10px;
	border: 1px solid #D6D6D6;
	background-color: #E5E5E5;
}

#sidebar-right .block-2,
#sidebar-right .block-5 {
	border: 1px solid #DEAAAA;
	background-color: #EABEBE;
}

#sidebar-right .block-3,
#sidebar-right .block-6 {
	border: 1px solid #B9B9B9;
	background-color: #C8C8C8;
}

/** ------------------------------- POLLS -------------------------------- **/

.poll .bar {
  background-color: #9C3C3C;
}
.poll .bar .foreground {
  background-color: #000;
}




