/* $Id: teal.css,v 1.1 2009/08/21 20:05:37 aross Exp $ */

/** ------------------------- HTML ELEMENTS ------------------------------- **/

body {
    background-image: url(images/teal/body_bg.gif);
	color: #323232; 
}

a {
	color: #006891;
}

#page {
 	border: 1px solid #fff;
    background-color: #fff;
}

h1, h2 {
	color: #444;
}

/** ------------------------------ HEADER --------------------------------- **/

#header-inner {
	background: #6590A7 url(images/teal/header_bg.gif) top left repeat-x;
}

#site-name a:link,
#site-name a:visited {
    color: #fff;
}

#site-slogan   {
	color: #F08B6F;
}

#secondary, 
#secondary a {
	color: #F08B6F;
}

/* Suckerfish menus (primary links in top nav) */

#navbar{
   	background: #477995 url(images/teal/primary_bg.gif) top left repeat-x;
    border-top: 1px solid #284B6C;
    border-bottom: 3px solid #ed9472;
}

#suckerfishmenu a {
  	color: #fff;
}

#suckerfishmenu a.active,
#suckerfishmenu a:hover {
	color: #F08B6F;
    text-decoration: none;
}

#suckerfishmenu ul.menu li ul a {
  	color: #fff;
	background-color: #83ACC0;
}

#suckerfishmenu ul.menu li ul a:hover {
	background-color: #4D7B9E;
}

/* Search submit button */

.region-navbar #search .form-submit {
	border: 2px outset #5D8CAE;
  	background-color: #4D7C9E;
	color: #F0946F;
}

/** ----------------------------- FOOTER ---------------------------------- **/

#footer {
	background-color: #497498;
	color: #fff;
}

/** ------------------------------- NODES --------------------------------- **/

.node-links ul.links li a,
.node .terms ul.links.inline li a {
	color: #D8633C;
}

/** ----------------------------- BLOCKS ---------------------------------- **/

/* Left column blocks */

#sidebar-left .block h2.title {
    background: #477995 url(images/teal/primary_bg.gif) top left repeat-x;
    border: 1px solid #437191;
}

#sidebar-left .block .content {
    background-color: #EDF2F4;
    border: 1px solid #DEE7EA;
}

/* Right column blocks */

#sidebar-right .block .content {
	border: none;
	padding: 0;
    background: none;
}

#sidebar-right .block h2.title {
    padding: 0 0 10px 0;
	color: #323232; 
	background: none;
    border: none;
}

#sidebar-right .block,
#sidebar-right .block-1,
#sidebar-right .block-4 {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	padding: 10px;
	border: 1px solid #C5D9E2;
	background-color: #D6E5EC;
}

#sidebar-right .block-2,
#sidebar-right .block-5 {
	border: 1px solid #DFB6A1;
	background-color: #F2C8B3;
}

#sidebar-right .block-3,
#sidebar-right .block-6 {
	border: 1px solid #9ABDCB;
	background-color: #ACC9D7;
}

/** --------------------------- FORUMS ------------------------------------ **/

.forum_node .node {
    border: 1px solid #C5D9E2;
	background-color: #EDF2F4;
}

/** --------------------------- COMMENTS ---------------------------------- **/

.comment {
	border: 1px solid #C5D9E2;
}

#comments-title {
	background-color: #D7E5EC;
}

/** -------------------- CUSTOM BULLETS IN BLOCKS ------------------------- **/

.block ul li {
  	list-style-type: circle;
  	list-style-image: url(images/teal/menu-leaf2.png);
}

.block ul li.collapsed {
    list-style-image: url(images/teal/menu-collapsed-rtl.png);
}

.block ul li.expanded {
    list-style-image: url(images/teal/menu-expanded.png);
}

.block ul li.collapsed {
    list-style-image: url(images/teal/menu-collapsed.png); /* LTR */
}

.block ul li.leaf {
    list-style-image: url(images/teal/menu-leaf2.png);
}

/** ------------------------------ TABLES ---------------------------------- **/

thead th {
	background: #B7CCD7;
	border: 1px solid #A3BCC8;
}

tr.odd td, tr.even td { border:1px solid #cfdee3;  }

tr.odd td { background:#FFFFFF; }

tr.even td { background:#EBF1F3; }

/** ------------------------------- POLLS -------------------------------- **/

.poll .bar {
  background-color: #346282;
}
.poll .bar .foreground {
  background-color: #C36250;
}







