.ag_clearboth {
  clear: both;
}

div#pi_ag_inquiries_list{
	padding-right:5px;
}

div#pi_ag_inquiries_list_title{
	background: #FFFFFF;	
}


div.pi_ag_inquiry{
	background: #b2b2b2;
	padding: 1px 3px 1px 4px;
	margin-top: 2px;
	margin-bottom: 3px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

div.pi_ag_inquiry:hover{
	background: #89A3E4;
}
	
div#pi_ag_inquiry-current{
	background: #FF8800;
	border-bottom: 6px solid black;
}

div#pi_ag_header {
	font-weight: bold;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
}

#pi_ag_header_title {
  font-size:1.6em;
}

#pi_ag_header_title_and_tabs {
  clear:right;
}

#ag_guide, #pi_ag_header_tabs {
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 20px;
	color: #000000;
	font-weight:bold;
	text-decoration:none;
}

#ag_guide, #pi_ag_header_tabs span{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 0px;
  font-size:1.1em;
  line-height:1.7em;
  white-space:nowrap;
  color: black;
  font-weight: bold;
}
/*
#pi_ag_header_tabs span:hover{
	background: #89A3E4;
	border-bottom:2px solid black;
}*/

#pi_ag_header_tabs .pi_ag_stage {
  background: #B2B2B2;
}

#pi_ag_header_tabs span.pi_ag_currentstage {
	border-bottom: 6px solid black;
}

#pi_ag_header_tabs .pi_ag_currentstage {
  font-weight: bold;
  background: #FF8800;
}

/*
#ag_guide, .ag_inquiry {
	float:left;
	white-space: nowrap;
}

#ag_guide .ag_stage {
  font-weight: normal;
  background: #B2B2B2;
  color: #FF8800;
}

#ag_guide, .ag_stage_link {
	color: #000000;
	font-weight:bold;
	text-decoration:none;
}

#ag_guide .ag_currentstage a:link {
  background: #FF8800;
  color: #B2B2B2;
}
*/
/* ----------------------------------*/

.pi_ag_navigation .item-list ul {
    margin: 0;
    list-style-type: none;
}

.pi_ag_navigation .item-list ul li{

    margin: 0 0 0 0;
    padding: 2px 0 0px 25px;
    list-style: none;
    list-style-image: none;
}
.pi_ag_navigation .item-list ul li ul li{

    margin: 0 0 0 -25px;
    padding: 2px 0 1px 3.2em;
    list-style: none;
    list-style-image: none;
    background-repeat: no-repeat;
    background-position: 1.6em 2px;
    background-color: #FFFFFF;
}
.pi_ag_navigation .item-list ul li ul{
    padding: 0;
    margin-top:2px;
    margin: 0 0 0 0;
}

.pi_ag_navigation .item-list a {
    color: #D6EEF1;
    outline: none;
}

.pi_ag_navigation div.phase_link {
    font-size: 1.2em;
    padding-top:1px;
    padding-bottom:4px;
}

.pi_ag_navigation .item-list a:hover {
    color: #6191C5;
    outline: none;
    text-decoration: none;
}
  
.pi_ag_navigation ul li .item-list a {
    color: #2763A5;
    font-weight: normal;
    outline: none;
}

.pi_ag_navigation ul li .item-list a:hover {
    color: #6191C5;
    outline: none;
    text-decoration: underline;
}
  
ul.ag-phases, ul.ag-phase {
  font-weight: bold;
  list-style-type: none;
}
li.ag-phase {
  background-image: url('images/folder_empty.png');
  background-repeat: no-repeat;
  background-position: 4px 4px;
  background-color: #B3B3B3;
}
li.ag-phase-current {
  background-image: url('images/folder_empty_current.png');
  background-repeat: no-repeat;
  background-position: 4px 4px;
  background-color: #4D4D4D;
}

li.ag-activity-unavailable {
  background-image: url('images/unavailable.png');
  background-repeat: no-repeat;
  background-position: 1.6em 2px;
}
li.ag-activity-add, li.ag-activity-add first, li.ag-activity-add last{
  background-image: url('images/creatable.png');
  background-repeat: no-repeat;
  background-position: 1.6em 2px;
}
li.ag-activity-edit {
  background-image: url('images/editable.png');
  background-repeat: no-repeat;
  background-position: 1.6em 2px;
}
li.ag-activity-view {
  background-image: url('images/viewable.png');
}
