# Files to be ignored by git

# Emacs backups
*~

# MacOS related junk
.DS_Store

# Eclipse project files
.project
.settings
build.properties
build.xml
.buildpath

# MacOS metadatafile
._*

# Editor backup files
*.bak

#Merge orig files
*.orig

#Windows thumbnail caches
Thumbs.db

#SyncToy file
SyncToy*.dat
