
.block.block-pi_top_links {
  position: fixed;
  top: 0px;
  left: 0px;  
  margin-bottom: 0;
  width: 100%;
}

.pi-top-links-flex-container,
.pi-top-links-fixed-container {
  background-image: url('images/background.png');
  background-repeat: repeat-x;
  height: 40px;
  width: 100%;
}

.pi-top-links-flex-container {
  padding-right: 10px;
}

.pi-top-links-fixed-container {
  text-align: center;
}
.pi-top-links-fixed-container-inner {
  display: inline-block;
  text-align: left;
  width: 920px;
}

.pi-top-links-item {

  line-height: 40px;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
}

.pi-top-links-item > a {
  padding: 12px 10px 11px 10px;
}

.pi-top-links-item-down {
  display: inline-block;
  margin-left: 5px;
  width: 11px;
  height: 8px;
  background: url('images/down.gif') center no-repeat;
}

.pi-top-links-separator {
  display: inline-block;
  width: 2px;
  height: 14px;
  background: #f19214;
  position: relative;
  top: 3px;
}

.pi-top-links-children {
  display: none;
  position: absolute;
  line-height: 26px;
}

.pi-top-links-item:hover > .pi-top-links-children,
.pi-top-links-children:hover {
  display: block;
}

.pi-top-links-child {
  background: rgba(0, 0, 0, .8);
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #222;
  position: relative;
  top: -5px;
  padding: 0px;
}


.pi-top-links-item > a {
  padding: 12px 10px 11px 10px;
}

.pi-top-links-child > a {
  padding: 5px 10px;
}

.pi-top-links-child > a,
.pi-top-links-item > a {
  color: #eee;
}

.pi-top-links-child > a:hover,
.pi-top-links-child > a.active,
.pi-top-links-item > a:hover,
.pi-top-links-item > a.active {
  color:white;
  text-decoration: none;
  background: rgba(255, 255, 255, .2);
}


.pi-top-links-user-block {
  float: right;
  line-height: 40px;
  font-weight: bold;
  font-size: 13px;
}


.pi-top-links-user-block > a {
  padding: 12px 10px 11px 10px;
}

.pi-top-links-user-block > a.pi-top-links-user-action {
  color: #ed6010;
}
.pi-top-links-user-block > a.pi-top-links-username {
  color: #eee;
}
