
.edit-link-container {
  border-width: 1px;
  border-style: solid;
  padding: 5px 10px 5px 10px;
  display: inline-block;
}

.edit-link-container {
  border-color: #444;
  background: #aaa;
}

.edit-link-container.active {
  font-weight: bold;
  background: #eee;
}

.edit-link-container.active:hover {
  background: white;
}

.edit-link-container.selected {
  font-weight: bold;
  background: white;
}
