

.edit-link-menu-container {
}
.edit-link-menu-content {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #888;
}

.edit-link-menu {
  border-collapse:collapse;
  margin: 0px;
}

.edit-link-container {
  border-width: 1px;
  border-style: solid;
  border-color: #888;
  padding: 5px 10px 5px 10px;
  background: #ddd;
}


.edit-link-container.active {
  background: #eee;
}

.edit-link-container.active:hover {
  background: white;
}

.edit-link-container.selected {
  font-weight: bold;
  background: white;
  border-bottom-color: white;
}

.edit-link-container.padding {
  width: 20%;
  font-weight: bold;
  background: white;
  border-top-color: white;
  border-right-color: white;
}

.edit-link-menu-content {
  padding: 10px 5px 5px 5px;
}