
#inquiry_creator_metadata_table,
#inquiry_creator_metadata_table tr, 
#inquiry_creator_metadata_table td {
  border:none;
  background: transparent;
}

#inquiry_creator_metadata_table td {
  vertical-align: top;
  padding: 0px;
}

#inquiry_creator_metadata_table tr.odd td {
  padding-bottom: 5px;
}


#inquiry_creator_metadata_table td.inquiry_creator_metadata_table_header {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}
