

.item-edit-form-container {
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  padding: 0 10px 5px 10px;
  
  position: relative;
}

.item-edit-form-container-activity {
  border-color: #ccddbb;
  background: #f0ffe0;
}

.item-edit-form-container-phase {
  border-color: #ccbbdd;
  background: #f0e0ff;
}
