

div.measure_table {
}

div.measure_region {
	border: 1px solid #6e6e6e;
	margin: 5px 5px 15px 0;
	background: white;
}

div.measure_region_title {
	background: #e4e4e4;
	padding: 3px;
	font-size: .8em;
}

div.measure_container {
	padding: 15px 5px 5px 20px;
}

div.measure_item {
	padding-bottom: 0px;
	height: 24px;
	vertical-align: bottom;
}

div.measure_item > div {
	height: 19px;
	line-height: 19px;
}

div.measure_item_content {
	display: inline-block;
	background: white;
}
