

div.measure_table {
}

div.measure_region {
	border: 1px solid #6e6e6e;
	margin: 5px 5px 5px 0;
	background: #white;
}

div.measure_region_title {
	background: #e4e4e4;
	padding: 3px;
	font-size: .8em;
}

div.measure_container {
	padding: 10px 5px 5px 20px;
}

div.measure_item {
	margin-bottom: 5px;
}

div.measure_item_content {
	padding: 4px 16px 4px 16px;
	border: 1px solid #6e6e6e;
	background: #e4e4e4;
	display: inline-block;
}




