/* $Id: html-elements.css,v 1.1.2.1 2007/11/29 00:50:59 johnalbin Exp $ */

/****
 **** HTML ELEMENT STYLING
 ****/


/** fonts **/
  /*
   * Our font size and line height declarations are based on the following ALA
   * article:
   *   http://www.alistapart.com/articles/howtosizetextincss
   *
   * All modern browsrs use a 16px default font size. Specifying the font-size
   * and line-height in ems (relative to the 16px default font) allows the user
   * to resize the font in the browser and produces the most consistent results
   * across different browsers.
   */
  body
  {
    font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
  }

  #page
  {
    /*
     * To use a 12px font size on the page, delete the 14px declarations.
     * to use a 14px font size on the page, delete the 12px declarations.
     */

    /* Use a 14px base font size with a 18px line height */
    font-size: 0.875em; /* 16px x .875 = 14px */
    line-height: 1.286em; /* 14px x 1.286 = 18px */
    
    /* Use a 12px base font size with a 16px line height */
    font-size: 0.75em; /* 16px x .75 = 12px */
    line-height: 1.333em; /* 12px x 1.333 = 16px */
    
    /* Use a 11px base font size with a 16px line height */
    font-size: 0.6875em; /* 16px x .6875 = 11px */
    line-height: 1.4545em; /* 11px x 1.4545 = 16px */
    
    /* Use a 10px base font size with a 16px line height */
    font-size: 0.625em; /* 16px x .625 = 10px */
    line-height: 1.6em; /* 10px x 1.6 = 16px */
    
    font-size: 11pt;
    line-height: 14pt;
    color: #000;
	
  }

  body, caption, th, td, input, textarea, select, option, legend, fieldset
  {
    /* The following font family declarations are based on the Microsoft core
     * web fonts which are common fonts available on most computer systems. The
     * Bitstream Vera fonts are commonly available on Linux systems where the MS
     * fonts are less common.
     *
     * A user's web browser will look at the comma-separated list and will
     * attempt to use each font in turn until it finds one that is available
     * on the user's computer. The final "generic" font (sans-serif or serif)
     * hints at what type of font to use if the web browser doesn't find any
     * of the fonts in the list.

    font-family: "Times New Roman", Times, Georgia, "Bitstream Vera Serif", serif;
    font-family: Times, "Times New Roman", Georgia, "Bitstream Vera Serif", serif;
    font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;

    font-family: Verdana, Tahoma, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
    font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;

    font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;

     */

    font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  }

  pre, code
  {
    font-size: 1.1em; /* Monospace fonts can be hard to read */
    font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
  }

/** headings **/
  h1
  {
    
    font-size: 133%; /* 133% of 12pt = 16pt*/
    line-height: 133%;
    margin-top: 0.752em; /* Equivalent to 1em in the page's base font: 100 / 133 = 0.752em */
    margin-bottom: 0.752em; /* 0.5em is equavalent to 1em in the page's base font.
                             Remember, a margin specified in ems is relative to
                             the element's font-size, not to the pages' base
                             font size. So, for example, if we want a 1em margin
                             (relative to the base font), we have to divide that
                             length by the element's font-size:
                             1em / 2em = 0.5em */
    color: #2E3191;
  }

  h2
  {
    font-size: 116%; /* 116% of 12pt = 14pt*/
    line-height: 116%;
    margin-top: 0.862em; /* Equivalent to 1em in the page's base font: 100 / 116 = 0.862em */
    margin-bottom: 0.862em;
    color: #2E3101;
  }

  h3
  {
    font-size: 110%;
    line-height: 110%;
    margin-top: 0.909em; /* Equivalent to 1em in the page's base font: 100 / 110 = 0.909em */
    margin-bottom: 0.909em;
    color: #2E3101;
  }

  h4, h5, h6
  {
    font-size: 100%;
    line-height: 100%;
    margin-top: 1em; /* Equivalent to 1em in the page's base font: 100 / 100 = 1em */
    margin-bottom: 1em;
    color: #2E3101;
  }

/** block-level elements **/
  p, ul, ol, dl, pre, table, fieldset, blockquote
  {
    margin: 1em 0;
  }

/** lists **/
  /* standardize list item indentation */
  ul, ol
  {
    margin-left: 0;
    padding-left: 2em;
  }

  .block ul, /* Drupal overrides */
  .item-list ul
  {
    margin: 1em 0;
    padding-left: 2em;
  }

  ul ul, ul ol,
  ol ol, ol ul,
  .block ul ul, .block ul ol,
  .block ol ol, .block ol ul,
  .item-list ul ul, .item-list ul ol,
  .item-list ol ol, .item-list ol ul
  {
    margin: 0;
  }

  .item-list ul li /* Drupal override */
  {
    margin: 0;
    padding: 0 0 0.4em 0;
    list-style: inherit;
  }
  
  table.home-table {
	border-style: hidden;
	border-collapse: collapse;
  }
  
   table.home-table td {
	border-style: hidden;
	padding-bottom:0.5em;
  }
    
  ul.menu li, /* Drupal override */
  li.expanded,
  li.collapsed,
  li.leaf
  {
    margin: 0;
  }


  ul ul, ul ol,
  ol ol, ol ul,
  .block ul ul, .block ul ol,
  .block ol ol, .block ol ul,
  .item-list ul ul, .item-list ul ol,
  .item-list ol ol, .item-list ol ul
  {
    margin: 0;
  }
  
  ul          { list-style-type: disc; }
  ul ul       { list-style-type: circle; }
  ul ul ul    { list-style-type: square; }
  ul ul ul ul { list-style-type: circle; }
  ol          { list-style-type: decimal; }
  ol ol       { list-style-type: lower-alpha; }
  ol ol ol    { list-style-type: decimal; }

  dt
  {
    margin: 0;
    padding: 0;
  }

  dd
  {
    margin: 0 0 0 2em;
    padding: 0;
  }

/** links **/
  /* The order of link states are based on Eric Meyer's article:
   * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
   */
  a:link,
  a:visited
  {
    color: #2763A5;
    text-decoration: none;
  }

  a:hover,
  a:focus
  {
    color: #6191C5;
    text-decoration: underline;
  }

  a:active,
  a.active
  {
    color: #89A3E4;
  }
  
  a.button-link 
  { 
	display: block;
	/*width: 2.2em;*/
	background-color: #2763A5;
	border: 1px solid #2763A5;
	border-top: 1px solid #2763A5;
	border-left: 1px solid #2763A5;
	color: #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	padding: 0.2em 0.6em 0.1em 0.6em;
	margin: 0.4em 0 1em 0;
	font-size: 90%;
	text-decoration: none;
  }
  
  a.button-link:hover,a.button-link:focus 
  { 
	background-color: #6191C5;
	border: 1px solid #6191C5;
	border-top: 1px solid #6191C5;
	border-left: 1px solid #6191C5;
  }

/** tables **/
  /* Override Drupal default CSS */
  table
  {
    border-collapse: collapse;
  }

  th,
  thead th,
  tbody th
  {
    text-align: center;
    font-weight: bold;
  }

  tbody
  {
    border-top: none;
  }
  
  td, th {
    border: solid 1px #CACACA;
    padding: 0 0.4em 0 0.4em;
  }

/** abbreviations **/
  abbr
  {
    border-bottom: 1px dotted #666;
    cursor: help;
    white-space: nowrap;
  }

  /* Date-based "abbreviations" show computer-friendly timestamps which are not
     human-friendly. */
  abbr.created
  {
    border: none;
    cursor: auto;
    white-space: normal;
  }

/** images **/
  img
  {
    padding: 1px;
    border: solid 1px #DDE6F1;
    margin: 10px;
  }
  div#sidebar-left img, div#sidebar-right img, img.ag-icon 
  {
    padding: 0;
    border: none;
    margin: 0;
  }

/** horizontal rules **/
  hr
  {
    height: 1px;
    border: 0;
    border-bottom: 1px solid #CACACA;
  }

/** forms **/
  form
  {
    margin: 0;
    padding: 0;
  }

  fieldset
  {
    margin: 1em 0;
    padding: 0.5em;
  }

