/* FORUM LIST ICONS *********************************************************/
.forum-folder {
  background: transparent url(images/forum-folder.png) no-repeat center center;
}


/* FORUM LIST ICON LEGEND ***************************************************/
tr.even td.forum-list-icon-default .forum-list-icon-wrapper span,
tr.odd td.forum-list-icon-default .forum-list-icon-wrapper span {
  background: transparent url(images/forum-folder.png) no-repeat center center;
}
tr.even td.forum-list-icon-new-posts .forum-list-icon-wrapper span, tr.odd td.forum-list-icon-new-posts .forum-list-icon-wrapper span {
  background: transparent url(images/forum-folder-new-posts.png) no-repeat center center;
}

.forum-list-icon-legend .forum-list-icon-default  {
  background: transparent url(images/forum-folder.png) no-repeat center center;
}

.forum-list-icon-legend .forum-list-icon-new-posts {
  background: transparent url(images/forum-folder-new-posts.png) no-repeat center left;
}