/* $Id */

/**
 * @file
 * Black and orange custom color scheme
 */

/** ------------------------- HTML ELEMENTS ------------------------------- **/

body {
  background-image: url(images/black/body_bg.gif);
  color: #323232;
}

a {
  color: #D74800;
}

#page {
  border: 1px solid #666;
  background-color: #fff;
}

/** ------------------------------ HEADER --------------------------------- **/

#header .section {
  background: #050404 url(images/black/header_bg.gif) top left repeat-x;
}

#site-name a:link,
#site-name a:visited {
  color: #fff;
}

#site-slogan   {
  color: #ED5F19;
}

#secondary,
#secondary a {
  color: #ED5F19;
}

/* Suckerfish menus (primary links in top nav) */

#navigation {
  background: #1f1f1f url(images/black/primary_bg.gif) top left repeat-x;
  border-top: 1px solid #464646;
  border-bottom: 3px solid #ED5F19;
}

#suckerfishmenu a {
  color: #fff;  
}

#suckerfishmenu a.active,
#suckerfishmenu a:hover {
  color: #ED5F19;
  text-decoration: none;
}

#suckerfishmenu ul.menu li ul a {
  color: #fff;
  background-color: #777;
  border: 1px solid #999;
  border-top: 0px;
}

#suckerfishmenu ul.menu li ul a:hover {
  background-color: #222;
}

#suckerfishmenu ul.menu ul {
  border-top: 1px solid #888;
}

/** ----------------------------- FOOTER ---------------------------------- **/

#footer {
  background-color: #171717;
  color: #fff;
}

/** ------------------------------- NODES --------------------------------- **/

.node-links ul.links li a {
  color: #181818;
}

/** ----------------------------- BLOCKS ---------------------------------- **/

.region-sidebar-first .block h2.title {
  background: #1f1f1f url(images/black/primary_bg.gif) top left repeat-x;
  border: 1px solid #262626;
}

.region-sidebar-first .block .content {
  background-color: #EDEDED;
  border: 1px solid #E0E0E0;
}

/* Clear styling to remove header on center and right blocks */

.region-sidebar-second .block .content,
#content .block .content {
  border: none;
  padding: 0;
  background: none;
}

.region-sidebar-second .block h2.title,
#content .block h2.title {
  padding: 0 0 10px 0;
  color: #323232;
  background: none;
  border: none;
}

.region-sidebar-second .block,
#mission,
#content .block {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
  border: 1px solid #D6D6D6;
  background: #d1d1d1 url(images/black/block1.gif) top left repeat-x;
}

#mission {
  font-weight: bold;
}

/** ------------------------------- POLLS -------------------------------- **/

.poll .bar {
  background-color: #171717;
}
.poll .bar .foreground {
  background-color: #D74F0B;
}

/** ------------------------------- BUTTONS -------------------------------- **/

.form-submit {
  padding: 2px 7px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-top: 1px solid #FFA77B;
  border-right: 1px solid #E4530A;
  border-bottom: 1px solid #E4530A;
  border-left: 1px solid #FFA77B;
  color: #232323;
  font-weight: bold;
  background: #E24A00 url(images/black/search.gif) top left repeat-x;
}















