

.pi_journal_contribution_title_section {
	background: #eee;
	padding: .5em;
  margin-bottom: 1em;
}


.pi_journal_contribution_title,
.pi_journal_contribution_author,
.pi_journal_contribution_subtitle {
	text-align: center;
}

.pi_journal_contribution_title {
	font-size: 1.75em;
	font-weight: bold;
}

.pi_journal_contribution_subtitle {
}

.pi_journal_contribution_author {
	font-size: 1.25em;
}

.pi_journal_contribution_abstract {
	font-weight: bold;
	padding: 0 30px 0 30px;
}

.pi_journal_contribution_content {
	margin-top: 2em;
}

.pi_journal_contribution_comments_block {
	padding: 0 5px 0 5px;
	border-left: 1px solid gray;
	margin-left: 10px;
}

.pi_journal_contribution_comments_header {
	font-weight: bold;
}
