

.inquiry-activity-icon {
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.inquiry-activity-icon.analysedata {
  background-image: url(icons/activities/analysedata.png);
}
.inquiry-activity-icon.collectdata {
  background-image: url(icons/activities/collectdata.png);
}
.inquiry-activity-icon.hypothesis {
  background-image: url(icons/activities/hypothesis.png);
}
.inquiry-activity-icon.hypothesisconclusion {
  background-image: url(icons/activities/hypothesisconclusion.png);
}
.inquiry-activity-icon.keyanswers {
  background-image: url(icons/activities/keyanswers.png);
}
.inquiry-activity-icon.keyquestions {
  background-image: url(icons/activities/keyquestions.png);
}
.inquiry-activity-icon.methodology {
  background-image: url(icons/activities/methodology.png);
}
.inquiry-activity-icon.notes {
  background-image: url(icons/activities/notes.png);
}
