


.inquiry-structure-container {
  padding: 5px;
}

.inquiry-structure-phase-container {
  
}

.inquiry-structure-phase {
  border: 1px solid orange;
  padding: 5px;
}

.inquiry-structure-activity {
  margin-left: 10px;
  border: 1px solid yellow;
  padding: 5px;
}


.handle {
  width: 16px;
  height: 16px;
  background: url(icons/sort_neutral.png) center no-repeat;
  cursor: move;
}

.row {
  display: block;
}
.row > div, .rowpart > div {
  display: inline-block;
}

.link-button {
  padding-left: 5px;
  font-size: smaller;
}

.title {
  font-weight: bold;
  padding-right: 10px;
}
