


.inquiry-structure-container {
  padding: 5px;
}

.inquiry-structure-phase-container {
  border-bottom: 1px dashed #55f;
  padding-bottom: 10px;
  margin-bottom: 12px;
}
.inquiry-structure-activity-container {

}






.link-button {
  font-size: smaller;
}

.title {
  font-weight: bold;
  padding-right: 10px;
}


.inquiry-structure-tree-bullet-activity, .inquiry-structure-tree-bullet-phase {
  display: inline-block;
  height: 10px;
  background-position: center right;
  background-repeat: no-repeat;
  margin-right: 3px;
}
.inquiry-structure-tree-bullet-activity {
  background-image: url(icons/menu-leaf2.png);
  width: 30px;
}
.inquiry-structure-tree-bullet-phase {
  width: 10px;
  background-image: url(icons/menu-expanded.png);
}


.inquiry-structure-phase, .inquiry-structure-activity {
  margin: 0 20px 0 0;
  margin-right: 5px;
  display: inline-block;
}

.inquiry-structure-phase {
  padding: 3px 8px 3px 3px;
  background: #d0ccee;
  border-radius: 2px;
  border-color: #aab;
  border-width: 1px;
  border-style: solid;
}

.inquiry-structure-activity {
  padding: 3px 10px 3px 10px;
  border-style: solid;
  border-width: 1px;
  border-radius:1000px;

  border-color: #aba;
  background: #d0eecc;
}

.inquiry-item-handle {
  width: 16px;
  height: 16px;
  background: url(icons/arrow_updown.png) center no-repeat;
  cursor: move;
  display: inline-block;
}

.item-data {
  display: inline-block;
}

.item-status {
  display: none;
}
.item-data.item-modified > .item-status {
  display: inline-block;
  color: darkorange;
  font-weight: bold;
  padding-right: 3px;
}
.item-data.item-new > .item-status {
  display: inline-block;
  color: darkgreen;
  font-weight: bold;
  padding-right: 3px;
}

.inquiry-item-buttons {
  display: inline-block;
}

.inquiry-feature-table-container {
  display: inline-block;
}
table.inquiry-feature-table {
  table-layout: auto;
}
table.inquiry-feature-table > tbody {
  border: none;
}


.value-cell {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

item-cell {
  margin: 0px;
  padding: 0px;
  border: none;
}

.inquiry-structure-container .inquiry-structure-activity, .inquiry-structure-container .inquiry-structure-phase {
  margin: 1px 0 1px 0;  
}




.inquiry-activity-title, .inquiry-phase-title {
  font-weight: bold;
}

.inquiry-activity-icon, .inquiry-activity-title, .inquiry-phase-icon, .inquiry-phase-title {
  display: inline-block;  
}



#inquiry-structure-add-phase, #inquiry-structure-add-activity {
  display: inline-block;
}

.feature-value-option {
  margin-bottom: 2px;
}
.feature-value-option > div {
  display: inline-block;
}

.nQuire-tooltip-bullet-leaf {
  width: 10px;
  height: 10px;
  background: url(icons/menu-leaf2.png) center no-repeat;
}

.structure-tablerow-endofphase {
  border-bottom: 1px dashed #55f;
}

.structure-tablerow-endofphase > td {
  padding-bottom: 10px;
}

.structure-tablerow-phaseafterfirst > td {
  padding-top: 10px;
}

td.structure-tablecell-active-item {
}

td.item-cell {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
}

td.item-cell > .arrow-shaft {
  background: darkorange;
  box-flex: 1;
  
  -webkit-box-flex: 1;
  height: 2px;
  min-width: 10px;
  margin-top: 12px;
}

td.item-cell > .arrow-head {
  height: 0px; 
  width: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid darkorange;

  margin: 8px 5px 0 0;
}

.feature-title {
  font-weight: bold;
  text-align: center;
}

.value-cell {
  padding: 3px;
}
.value-cell.column-odd:not([item-id]) {
  background: #f4f4f4;
}
.value-cell.column-even:not([item-id]) {
  background: #f2f2f2;
}

.value-cell.column-odd[item-id].item-odd {
  background: #e6e6e6;
}
.value-cell.column-odd[item-id].item-even {
  background: #d6d6d6;
}
.value-cell.column-even[item-id].item-odd {
  background: #e0e0e0;
}
.value-cell.column-even[item-id].item-even {
  background: #d0d0d0;
}
