

.nquire-tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  background: white;
  padding: 5px;
  border: 1px solid blue;
  border-radius: 3px;
}

.nquire-tooltip-hidden {
  display: none;
}

.nquire-tooltip-content {
  
}
