/*
* pi css specialisation
*/

/* Hide second breadcrumb
----------------------------------*/
div#content div#content-inner div#content-header div.breadcrumb { 
	display: none; 
}

/* Hide Revision information - Log message
----------------------------------*/
.hideme { 
	display: none;
}

/* Hide preview button
----------------------------------*/
#edit-preview {
	display: none;
}

div#content div.content {
	font-size: 12px;
}

textarea {
	font-size: 111%;
}

div#content h1.title {
	margin: 0 0 0.4em 0;
}

/* Hide region message div
----------------------------------*/
tr.region-populated {
	display: none;
}

th.measures_theading_status {
	display: none;
}

th.measures_theading_weight {
	display: none;
}

td.measures_status {
	display: none;
}

td.measures_weight {
	display: none;
}

td.sort_item_region {
	display: none;
}

td.sort_item_weight {
	display: none;
}



tr.region {
	font-size: 110%;
	font-weight: bold;
	border: 1px solid transparent;
}

td.region {
	padding: 1em 0 0.4em 0;
}



div.teaser_table_cell {
	margin-top: 11px;
	white-space:nowrap;
	font-size:130%;
	font-weight:bold;
}