/*
* pi css specialisation
*/

/* Hide second breadcrumb
----------------------------------*/
div#content div#content-inner div#content-header div.breadcrumb { 
	display: none; 
}

/* Hide Revision information - Log message
----------------------------------*/
.hideme { 
	display: none;
}

/* Hide preview button
----------------------------------*/
#edit-preview {
	display: none;
}

div#content div.content {
	font-size: 12px;
}

textarea {
	font-size: 111%;
}

div#content h1.title {
	margin: 0 0 0.4em 0;
}

