/*
* pi css specialisation
*/

/* Hide second breadcrumb
----------------------------------*/
div#content div#content-inner div#content-header div.breadcrumb { 
	display: none; 
}

/* Hide Revision information - Log message
----------------------------------*/
.hideme { 
	display: none;
}

/* Hide preview button
----------------------------------*/
#edit-preview {
	display: none;
}
