div.phasebox {
	width: 240px;
	height: 40px;
	border: 1px solid black;
	background-color: #ffffff;
}

div.imgbox {
	float: left;
	height: 40px;
	width: 40px;
	background-color: #FFFFFF;
	text-align: center;
}

div.textcont {
	float: left;
	height: 40px;
	width: 200px;
	background-color: #ffffff
}

div.textcontnoicon {
	float: left;
	height: 40px;
	width: 100%;
	background-color: #ffffff
}

div.titlebox {
	clear: both;
	float: left;
	height: 20px;
	width: 200px;
	background-color: #dee7ea;
	font-weight: bold;
	font-size: 1.1em;
	font-family: sans-serif;
	color: #ffffff;
	overflow: auto;
}

div.titleboxnoicon {
	clear: both;
	float: left;
	height: 20px;
	width: 100%;
	background-color: #dee7ea;
	font-weight: bold;
	font-size: 1.1em;
	font-family: san-serif;
	color: #ffffff;
	overflow: auto;
}

div.titleboxnoact {
	clear: both;
	float: left;
	height: 100%;
	width: 100%;
	background-color: #dee7ea;
	font-weight: bold;
	font-size: 1.1em;
	color: #ffffff;
	overflow: auto;
}

div.titleboxnoiconnoact {
	background-color:#DEE7EA;
	color:#FFFFFF;
	display:table-cell;
	font-size:1.1em;
	font-weight:bold;
	height:40px;
	cell-padding:3px;
	text-align:center;
	vertical-align:middle;
	width:240px;
}

div.activitybox {
	clear: both;
	float: left;
	height: 19px;
	width: 50%;
	background-color: #edf2f4;
	font-size: 1em;	
	color: #777777;
}

div.newactbox {
	float: left;
	height: 19px;
	width: 50%;
	background-color: #edf2f4;
	font-size: 1em;	
	font-weight: bold;
	color: #777777;
}

div.iconbox {
	float: left;
	height: 20px;
	width: 30px;
	background-color: #edf2f4;
	font-size: 1em;	
	font-weight: bold;
	color: #777777;
}