div.phasebox {
	width: 240px;
	height: 40px;
	border: 1px solid black;
	background-color: #ffffff;
}

ul.phase { list-style-type: none; }

li.octagon-phasebox-1 { position: absolute; left: 380px; top: 10px;	}
li.octagon-phasebox-2 { position: absolute; left: 450px; top: 95px;	}
li.octagon-phasebox-3 { position: absolute; left: 450px; top: 180px; }
li.octagon-phasebox-4 { position: absolute; left: 380px; top: 270px; }
li.octagon-phasebox-5 { position: absolute; left: 80px; top: 270px;	}
li.octagon-phasebox-6 { position: absolute; left: 10px; top: 180px;	}
li.octagon-phasebox-7 { position: absolute; left: 10px; top: 95px; }
li.octagon-phasebox-8 { position: absolute; left: 80px; top: 10px; }
		
li.pentagon-phasebox-1 { position: absolute; left: 182px; top: 5px; }
li.pentagon-phasebox-2 { position: absolute; left: 365px; top: 85px; }
li.pentagon-phasebox-3 { position: absolute; left: 320px; top: 165px; }
li.pentagon-phasebox-4 { position: absolute; left: 40px; top: 165px; }
li.pentagon-phasebox-5 { position: absolute; left: 15px; top: 85px; }

li.list-phasebox-1 { position: relative; left: 158px; top: 32px; margin: 0; padding: 0;}

div.octagon-phasearea { position: relative; width: 100%; height: 280px; background-position: 130px 30px; background-image: url(images/arrows_octagon.png); background-repeat: no-repeat; }
div.pentagon-phasearea { position: relative; width: 100%; height: 280px; background-position: 98px 23px; background-image: url(images/arrows_pentagon.png); background-repeat: no-repeat; }
div.list-phasearea { position: relative; width: 100%; height: 610px; background-position: 130px 5px; background-image: url(images/arrows_loop.png); background-repeat: no-repeat; }

div.imgbox {
	float: left;
	height: 40px;
	width: 40px;
	background-color: #FFFFFF;
	text-align: center;
}

div.octagon-textcont { height: 40px; width: 200px; border: solid 1px grey; }
div.octagon-textcontnoicon { height: 40px; width: 240px; border: solid 1px grey; }
div.pentagon-textcont { height: 40px; width: 200px; border: solid 1px grey; }
div.pentagon-textcontnoicon { height: 40px; width: 240px; border: solid 1px grey; }
div.list-textcont { height: 40px; width: 240px; margin: 0 0 30px 0; border: solid 1px grey; }
div.list-textcontnoicon { height: 40px; width: 200px; margin: 0 0 30px 0; border: solid 1px grey; }

div.titlebox {
	clear: both;
	float: left;
	height: 20px;
	width: 200px;
	background-color: #dee7ea;
	font-weight: bold;
	font-size: 1.1em;
	font-family: sans-serif;
	color: #ffffff;
	overflow: auto;
}

div.titleboxnoicon {
	clear: both;
	float: left;
	height: 20px;
	width: 100%;
	background-color: #dee7ea;
	font-weight: bold;
	font-size: 1.1em;
	font-family: san-serif;
	color: #ffffff;
	overflow: auto;
}

div.titleboxnoact {
	clear: both;
	float: left;
	height: 100%;
	width: 100%;
	background-color: #dee7ea;
	font-weight: bold;
	font-size: 1.1em;
	color: #ffffff;
	overflow: auto;
}

div.titleboxnoiconnoact {
	background-color:#DEE7EA;
	color:#FFFFFF;
	display:table-cell;
	font-size:1.1em;
	font-weight:bold;
	height:40px;
	cell-padding:3px;
	text-align:center;
	vertical-align:middle;
	width:240px;
}

div.activitybox {
	clear: both;
	float: left;
	height: 19px;
	width: 50%;
	background-color: #edf2f4;
	font-size: 1em;	
	color: #777777;
}

div.newactbox {
	float: left;
	height: 19px;
	width: 50%;
	background-color: #edf2f4;
	font-size: 1em;	
	font-weight: bold;
	color: #777777;
}

div.iconbox {
	float: left;
	height: 20px;
	width: 30px;
	background-color: #edf2f4;
	font-size: 1em;	
	font-weight: bold;
	color: #777777;
}