@CHARSET "UTF-8";

table.pi_chart_table {
	width: 700px;
}


table.pi_chart_table td {
	border: 1px solid #777;
	padding: 5px;
}


td.pi_chart_table_key {
	font-weight: bold;	
}

td.pi_chart_table_key {
	font-weight: bold;	
}

td.pi_chart_table_type {
	font-weight: normal;
	font-style:italic;	
	background-color: #ddd;
}

td.pi_chart_table_empty {
	background-color: #eee;
}



