/* $Id: quiz.css,v 1.9.2.1 2009/05/10 16:26:39 sivaji Exp $ */

/*
 * Definitions that apply while taking the quiz.
 */
#quiz_progress {
  font-style: italic;
  font-size: 80%;
}

span.multichoice_answer_text p {
  display: inline;
}

/*
 * Definitions that apply on the summary pages.
 */
.quiz_question_bullet {
  font-weight: bold;
  font-size: 120%;
}

#quiz_score_possible, #quiz_score_percent {
  font-weight: bold;
}

.quiz_summary_question {
  margin-bottom: 0.5em;
}

tr.quiz_summary_qrow {
  background: transparent;
}

td.quiz_summary_qcell {
  vertical-align: top;
  padding: 1em 1em 0em 0em;
}

td.quiz_summary_qcell table tr {
  background: transparent;
}

td.quiz_summary_qcell table td {
  vertical-align: top;
  padding: .5em;
}

.quiz_answer_feedback {
  font-style: italic;
}

.quiz_summary_header {
  font-weight: bold;
}
.quiz_summary_text {

}
div.multichoice_answer_correct {
  padding: 5px;
  border: 1px solid green;
}
div.multichoice_answer_incorrect {
  padding: 5px;
  border: 1px solid red;
}

.add-questions {
  background: transparent url(images/add.png) no-repeat scroll 0% 10%;
  padding: 0 0 1em 2em;
}
