#pi_authoring h2 {
	margin-top: 2px;
	margin-bottom: 3px;
	font-size: 16px;	
}

#pi_authoring td {
	vertical-align: top;
}


#pi_authoring #new_inquiry {
	clear: left;
}


#pi_authoring .inquiry_name {
	margin-top: 2px;
	margin-bottom: 3px;
	font-size: 14px;
	font-weight:bold;	
}

#pi_authoring .delete_inquiry_block {
	float:right;	
}

#pi_authoring .inquiry_description {
	font-style: italic;
	font-size: 11px;
}

#pi_authoring .help {
	font-style: italic;
	font-size: 11px;
}