


.nquire-structure-container {
    padding: 5px;
}

.nquire-structure-phase-container {
    border-bottom: 1px dashed #aaf;
    padding-bottom: 10px;
    margin-bottom: 12px;
}
.nquire-structure-activity-container {

}






.title {
    font-weight: bold;
    padding-right: 10px;
}


.nquire-structure-tree-bullet-activity, .nquire-structure-tree-bullet-phase {
    display: inline-block;
    height: 10px;
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 3px;
}
.nquire-structure-tree-bullet-activity {
    background-image: url(icons/menu-leaf2.png);
    width: 30px;
}
.nquire-structure-tree-bullet-phase {
    width: 10px;
    background-image: url(icons/menu-expanded.png);
}


.nquire-structure-phase, .nquire-structure-activity {
    margin: 0 20px 0 0;
    margin-right: 5px;
    display: inline-block;
    z-index: 2;
}

.nquire-structure-phase {
    padding: 3px 8px 3px 3px;
    background: #ddccee;
    border-radius: 2px;
    border-color: #aab;
    border-width: 1px;
    border-style: solid;
}

.nquire-structure-activity {
    padding: 3px 10px 3px 10px;
    border-style: solid;
    border-width: 1px;
    border-radius:1000px;

    border-color: #aba;
    background: #d0eecc;
    margin-top: 2px;
}



.item-data {
    display: inline-block;
}

.item-status {
    display: none;
}
.item-data.item-modified > .item-status {
    display: inline-block;
    color: darkorange;
    font-weight: bold;
    padding-right: 3px;
}
.item-data.item-new > .item-status {
    display: inline-block;
    color: darkgreen;
    font-weight: bold;
    padding-right: 3px;
}

.nquire-item-buttons {
    font-size: smaller;
}

.nquire-structure-item-container  .nquire-item-buttons {
    display: none;
}

.nquire-structure-item-container:hover  .nquire-item-buttons {
    display: inline-block;
}

.nquire-feature-table-container {
    display: inline-block;
}
table.nquire-feature-table {
    table-layout: auto;
}
table.nquire-feature-table > tbody {
    border: none;
}



.nquire-activity-title, .nquire-phase-title {
    font-weight: bold;
}

.nquire-activity-icon, .nquire-activity-title, .nquire-phase-icon, .nquire-phase-title {
    display: inline-block;  
}



#nquire-structure-add-phase, #nquire-structure-add-activity {
    display: inline-block;
}

.feature-value-option {
    margin-bottom: 2px;
}
.feature-value-option > div {
    display: inline-block;
}

.feature-buttons {
    font-size: smaller;
}

.nQuire-tooltip-bullet-leaf {
    width: 10px;
    height: 10px;
    background: url(icons/menu-leaf2.png) center no-repeat;
}


.item-cell {
    margin: 0px;
    padding: 0px;
    border: none;

    width: 100%;
    
}

.item-cell.arrow {
    background-image: url(icons/asw.png), url(icons/as.png), url(icons/ah.png);
    background-position: left, center, right;
    background-repeat: no-repeat, repeat-x, no-repeat;
}



.structure-tablerow-endofphase {
    border-bottom: 1px dashed #55f;
}

.structure-tablerow-endofphase > td {
    padding-bottom: 10px;
}

.structure-tablerow-phaseafterfirst > td, .structure-tablerow-phasefirst > td {
    padding-top: 10px;
}

td.structure-tablecell-active-item {
}

.feature-title {
    font-weight: bold;
}

.value-cell {
    padding: 3px;
    text-align: center;
}
.value-cell.column-odd:not([item-id]), .feature-cell.column-odd {
    background: #f4f4f4;
}
.value-cell.column-even:not([item-id]), .feature-cell.column-even {
    background: #f2f2f2;
}

.value-cell.column-odd[item-id].item-odd {
    background: #e6e6e6;
}
.value-cell.column-odd[item-id].item-even {
    background: #d6d6d6;
}
.value-cell.column-even[item-id].item-odd {
    background: #e0e0e0;
}
.value-cell.column-even[item-id].item-even {
    background: #d0d0d0;
}

.value-cell, .feature-cell {
    border-style: dotted;
    border-color: #aaa;
    border-width: 0 1px 0 1px;
}

.feature-cell, .new-feature-cell {
    padding: 5px;
    text-align: center;
    border-bottom: 1px dashed #55f;
    border-top: 1px dotted #aaa;
}

.tooltip-buttons {
    text-align: center;
}

.item-edit-table td {
    vertical-align: text-top;  
}

.column-selected {
    font-weight: bold;
    background: #CBE4B1 !important ;
}
