

body {
  background-color: #efefef;
  color: #000;
}

.block-pi_breadcrumb  div {
	background: #efefef !important;
} 

#page {
  background-color: #fff;
}


a {
  color: #0040B8;
}


#header-inner,
#footer {
  background-color: #bbb;
}

#navigation {
  background-color: #888;
}

.sidebar .block h2.title a {
  color: #fff;
}


.sidebar .block h2.title,
#content .block h2.titl,
.sidebar .block .content,
#content .block .content {
	border-color: #6e6e6e;
}

.sidebar .block h2.title,
#content .block h2.title {
  color: #fff;
  background-color: #6e6e6e;
}

.sidebar .block .content,
#content .block .content {
  background-color: #f4f4f4;
}


#mission {
  background-color: #e7e7e7;
  border-color: #e7e7e7;
}

.comment {
  border-color: #D6D6D6;
}

.node-type-forum .submitted {
  color: #666;
}




#header .section {
	background: #3b3b3b;
}

#header a.username {
	color: white;
}
#header a.logout {
	color: #5dd58d;
}


thead th {
  background: #a7bee6;
  border-color: #cccccc;
}

tr.odd td, tr.even td {
	border-color: #cccccc;
}



tr.odd td { background:#e4e5e6; }

tr.even td { background: #dee1e6; }