
.nquire-block-title, .nquire-block-middle-content, .nquire-block-bottom-content {
  margin-left: 5px;
}

.nquire-block-title {
  color: #fff;
  padding: 0 4px 0 4px;
  border: 4px solid #6E6E6E;
  background-color: #6E6E6E;
  font-weight: bold;
	font-size: 1em;
}

.nquire-block-middle-content, .nquire-block-bottom-content {
  padding: 0px 5px 0px 5px;
  border-top: none;
  background-color: #f4f4f4; /*EDEDED;*/
  border-width: 0 4px 0 4px;
	border-style: solid;
	border-color: #6E6E6E;
	background: #F4F4F4;
}

.nquire-block-middle-content {
  border-bottom: none;
  overflow: auto;
  height: 100%;
}

.nquire-block-bottom-content {
	border-bottom-width: 4px;
}

.nquire-block-overlay {
  position: fixed;
  background: rgba(255, 255, 255, .5);
}
