



a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


#header-inner,
#footer {
}

#header a {
	font-weight: bold;
}

#navigation {
}

.sidebar .block h2.title a {
}


.sidebar .block h2.title,
#content .block h2.titl,
.sidebar .block .content,
#content .block .content {
	border-width: 4px;
	border-style: solid;
}

.sidebar .block h2.title,
#content .block h2.title {
	font-size: 1em;
  padding: 0 4px 0 4px;
}

.sidebar .block .content,
#content .block .content {
	font-size: .8em;
  margin: 0;
  border-top: none;
  padding: 4px;
}


.region-sidebar-first .no-header .content {
}

#mission {
  border-width: 1px;
	border-style: solid;
  padding: 10px;
  margin-bottom: 20px;
}

.comment {
  border-width: 1px;
	border-style: solid;
}

/** ----------------------- FORUMS ---------------------------------------- **/

.node-type-forum h3.title {
  font-size: 150%;
  margin: 15px 0px 0px 0px;
  padding-left: 0px;
}

.node-type-forum .submitted {
  font-size: 90%;
}

.node-type-forum .content {
  margin-top: 10px;
}

.forum-topic-navigation {
  clear: both;
  margin-top: 15px;
}

#forum ul.links {
  margin-top: 15px;
}

#forum li.forum {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

#forum tr td.forum {
  background-image: none;
}

td.forum .name {
  font-size: 110%;
}

td.forum .name a {
  font-weight: bold;
}

/** -------------------------- MISC -------------------------------- **/

/* Aggregator, blog, and forum more link */
.more-link {
  text-align: right;
}


/** ---- nQuire phases ----------------------------   **/

.phase_activity {
	border-width: 4px;
	border-style: solid;
	margin-bottom: 15px;
}


.phase_activity > div {
	padding: 4px;
}

.phase_activity  .phase_activity_content_wrapper {
	padding: 6px;
}

.phase_activity  .phase_activity_table {
	margin: 0px;
}

.phase_activity  .phase_activity_table  td {
	padding: 6px 6px 6px 12px;
}

.phase_activity  .phase_activity_table  td.phase_activity_label {
	text-align: right;
	font-weight: bold;
	white-space: nowrap;
	font-size: .9em;
}


.phase_activity  .phase_activity_description, 
.phase_activity  .phase_activity_content {
	width: 99%;
}

.phase_activity  .phase_activity_content {
	background: white;
}

.phase_activity  .phase_activity_no_content {
	background: lightgrey;
}

.phase_activity > .phase_activity_title {
	font-weight: bold;
	padding: 0 0 4px 0;
}


.phase_activity_access {
	font-size: .75em;
}

/*** colored phases ****/ 

.phase_activity_a {border-color: #b0b70f;}
.phase_activity_a > .phase_activity_content_wrapper {background: #eaeccb;}
.phase_activity_a > .phase_activity_title {background: #b0b70f; color: white;}

.phase_activity_b {border-color: #0cadaa;}
.phase_activity_b > .phase_activity_content_wrapper {background: #d7ecea;}
.phase_activity_b > .phase_activity_title {background: #0cadaa; color: white;}

.phase_activity_c {border-color: #00ace2;}
.phase_activity_c > .phase_activity_content_wrapper {background: #d5ebf8;}
.phase_activity_c > .phase_activity_title {background: #00ace2; color: white;}

.phase_activity_d {border-color: #756dab;}
.phase_activity_d > .phase_activity_content_wrapper {background: #e3e1ef;}
.phase_activity_d > .phase_activity_title {background: #756dab; color: white;}

.phase_activity_e {border-color: #c4388a;}
.phase_activity_e > .phase_activity_content_wrapper {background: #f7d2e3;}
.phase_activity_e > .phase_activity_title {background: #c4388a; color: white;}

.phase_activity_f {border-color: #dc1340;}
.phase_activity_f > .phase_activity_content_wrapper {background: #f7d1c9;}
.phase_activity_f > .phase_activity_title {background: #dc1340; color: white;}

.phase_activity_g {border-color: #ea620d;}
.phase_activity_g > .phase_activity_content_wrapper {background: #fbd4b5;}
.phase_activity_g > .phase_activity_title {background: #ea620d; color: white;}

.phase_activity_h {border-color: #fcc724;}
.phase_activity_h > .phase_activity_content_wrapper {background: #feeec8;}
.phase_activity_h > .phase_activity_title {background: #fcc724; color: white;}


table.sortable thead th:hover {
	text-decoration: underline;
}
