/* $Id: advanced_forum.blue_lagoon.style.css,v 1.1.2.11 2009/07/31 22:22:07 michellec Exp $ */

/*
This file contains colors, graphics, and text effects. For structural markup,
see advanced_forum-structure.css.

Colors used:
  #ffffff Text on headers
  #0062A0 Pager number
  #0F5C8E Borders & headers
  #BDE0F5 Container background
  #5F67A5 Container description
  #898989 Forum description
  #E6EDEC Sticky topic
  #EDF5FA Author pane background

Images used:
  images/pager-bg.png Pager background gradient.
*/

/*** PAGER *******************************************************************/

/* This is the pager on the topics in the list */
#forum .topic-pager {
  font-size: 90%;
  font-style: italic;
}

/* Other pagers in the forum */
#forum-comments .pager {
  text-align: right;
}

#forum-comments .pager li {
  padding: 0;
  margin: 0;
}

#forum .pager a:link,
#forum .pager a:visited,
#forum-comments .pager a:link,
#forum-comments .pager a:visited {
  text-decoration: none;
  border: 1px solid #0F5C8E;
  background: #ffffff url(images/pager-bg.png) repeat-x left top;
  font-weight: bold;
}

#forum .pager-current,
#forum .pager a:hover,
#forum-comments .pager-current,
#forum-comments .pager a:hover {
  color: #0062A0; 
}

#forum .pager a.active,
#forum-comments .pager a.active {
  background: #fff url(images/pager-bg.png) repeat-x left top;
  color: #0062A0; 
}

/*** FORUM & TOPIC LIST ******************************************************/

/* General */
#forum .forum-table,
#forum .forum-topics {
  border: 2px solid #0F5C8E;
}

#forum .forum-table thead,
#forum .forum-topics thead{
  background: #026CB1 url(images/thead_bg.gif) repeat-x scroll left top;
}


/* Headers */
#forum .forum-table th,
#forum .forum-table th a,
#forum .forum-topics th,
#forum .forum-topics th a,
#forum .forum-topics th a:link,
#forum .forum-topics th a:hover,
#forum .forum-topics th a:visited {
  color: #ffffff;
  font-weight: bold;
  border-bottom: none;
}

#forum .forum-table tbody,
#forum .forum-topics tbody {
  border-top: none;
}

/* Containers & Forums */
#forum tr.container-description {
  color: #000000;
  background-color: #ADCBE7;
}

#forum tr.odd {
  background-color: #F5F5F5;
}

#forum tr.even {
  background-color: #EFEFEF;
}

#forum td {
  border: 1px solid #0F5C8E;
}


.forum-details .name a {
  font-weight: bold;
}

.forum-details .description {
  color: #000000;
}

#forum .forum-table a,
#forum .forum-topics a {
  color: #003366;
}


/* Topic listings */
#forum tr.sticky {
}

#forum tr.forum-last-sticky {
  border-bottom: 10px solid #0F5C8E;
}

#forum .sticky-label {
  font-weight: bold;
}

#forum tr.odd td.active,
#forum tr.even td.active {
  background-color: transparent;
}

/*** FORUM STATISTICS *******************************************************/

#forum-statistics {
  border: 1px solid #0F5C8E;
}

#forum-statistics-header {
  background: #026CB1 url(images/thead_bg.gif) repeat-x scroll left top;
  color: #ffffff;
  font-weight: bold;
}

.forum-statistics-sub-header {
  background-color: #ADCBE7;
  font-weight: bold;
  color: #000000;
}

/*** FORUM TOPICS **********************************************************/

.forum-post {
  border: 1px solid #0F5C8E;
}

/* Header at the top of each post */
.forum-post-info {
  background: #ADCBE7 ;
  color: #000000;
  border-bottom: none;
  margin-bottom: 0; /* Reset from Naked's structure*/
}

.forum-posted-on {
  font-size: .8em;
  font-weight: bold;
}

.forum-forum-post .new {
  color: #ffffff;
}

.forum-post-title {
  font-weight: bold;
  border-bottom: 1px solid #0F5C8E;
}

.forum-post-num a:link,
.forum-post-num a:visited,
.forum-post-num a:active,
.forum-post-num a:hover {
  color: #ffffff;
}

/* Wrap around author pane and comment */
.forum-post-wrapper {
}

/* Author information pane */
.forum-post-panel-sub {
  background-color: #F5F5F5;
  border-bottom: 1px solid #0F5C8E;
}

.forum-post-panel-sub  .author-pane .author-name {
  font-size: 120%;
  font-weight: bold;
}

.forum-post-panel-sub  .author-pane  .picture img {
	border: 1px solid #0F5C8E;
	background: #ffffff;
}

.author-pane .author-pane-label {
  font-weight: bold;
}

/* Post text area */
.forum-post-panel-main {
  background-color: #EFEFEF;
}

.forum-post-panel-main .forum-post-content {
  padding: 5px;
}

/* Signature */
.author-signature {
  font-size: .8em;
}

/* Post footer */
.forum-post-footer {
  background-color: #F5F5F5;
  border-top: 1px solid #0F5C8E;
}

.forum-top-post-footer {
  border: 1px solid #0F5C8E;
}

/* Topic navigation */
.forum-topic-navigation {
  border: 1px solid #0F5C8E;
}



