a.logout:hover {
	text-decoration: underline;
}

a.logout {
	padding: 2px;
	font-weight: bold;
}

div.logout {
	float: right;
	font-weight: bold;
}

div.nquire_home {
	float: left;
	margin-right: 20px;
	font-size: 2em;
	line-height: 50px;
	font-weight: bold;
}

div.nquire_home > div {
	display: inline-block;
	margin-right: 20px;
}

div.nquire {
	float: left;
}

h1.nquire_home {
	color: #000000;
}

h1.nquire {
	
}