a.logout:link {
        padding:                2px;
        text-decoration:        underline;
        font-weight:            bold;
        background-color:       #FFFFFF;
}
a.logout:visited{
        padding:                2px;
        text-decoration:        underline;
        font-weight:            bold;
        background-color:       #FFFFFF;
}
a.logout:hover{
        padding:                2px;
        text-decoration:        underline;
        font-weight:            bold;
        background-color:       #FFFFFF;
        color:                  #FF5500;
}
a.logout:active{
        padding:                2px;
        text-decoration:        underline;
        font-weight:            bold;
        background-color:       #FFFFFF;
        color:                  #FF5500;
}

div.logout {
	float:			right; 
	font-weight: 	bold; 
	color: 			#000000;
	}

div.nquire_home {
	float:	left;
	width:	209px;
}

div.nquire{
	float:	left;
	width:	200px;
}

h1.nquire_home {
	color:	#000000;
}


h1.nquire {
	}
