a.logout:hover {
  text-decoration: underline;
}

a.logout {
  padding: 2px;
  font-weight: bold;
}

div.logout {
  float: right;
  font-weight: bold;
}

div.nquire_header {
  display: inline-block;
}

div.nquire_header > div {
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px;
  font-size: 2em;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}

div.nquire_header a {
  color: white;
}

.nquire_username_block {
  float:right;
}

.nquire_username_block > div {
  text-align: right;
}

#block-pi_header-0 {
  margin: 0 0 0 0;
}

.nquire_username_block > .nquire_username_username > a {
  color: white;
}

.nquire_username_block > .nquire_username_logout > a {
  color: #5dd58d;
}

div.nquire {
  float: left;
}


h1.nquire {

}
