
div.pi_logos_bar {
  padding-top: 1em;
  padding-bottom: 1.5em;
  margin-bottom: 1em;
  border-bottom: 2px solid #777;
  text-align: center;
}

div.pi_logos_bar img {
  height: 56px;
}

div.pi_logos_bar img.pi_logos_center {
  margin: 0 230px;
}

div.pi_promote_main {
  text-align: center;
}

div.pi_promote_fixed_width_container {
  display: inline-block;
  width: 960px;
  height: 10px;
}

div.pi_promote_shop {
  display: inline-block;
  width: 680px;
  margin: 0px;
}

div.pi_promote_shop_row {
  text-align: left;
}

div.pi_promote_shop_row_inner {
  display: inline-block;
}

div.pi_promote_shop_item {
  width: 292px;
  display: inline-block;
  padding: 10px;
  text-align: left;  
}

div.pi_promote_shop_item_image {
  width: 290px;
  height: 165px;
  position: relative;
  border: 1px solid #bbb;
  box-shadow: 3px 3px 3px 0px #777;
}

div.pi_promote_shop_item_image:hover {
  box-shadow: 3px 3px 4px 1px #777;
}

div.pi_promote_shop_item_image img {
  position: absolute;
}

div.pi_promote_shop_item_title {
  padding: .4em 0 .2em 0;
  font-weight: bold;
  font-size: 1.5em;
}

div.pi_promote_shop_item_info {
  color: #444;
}

div.pi_promote_shop_item_title,
div.pi_promote_shop_item_info {
  padding-left: 12px;
}


div.pi_promote_links {
  display: inline-block;
  width: 270px;
  margin: 0px;
  border-left: 1px solid lightgray;
  vertical-align: top;
  padding-left: 9px;
  padding-top: 10px;
  text-align: left;
}

.p_promote_links_head {
  font-weight: lighter;
  font-size: 2em;
  padding-bottom: 1em;
  color: #777;
}

.pi_promote_links_title {
  font-size: 1.25em;
  padding-bottom: .5em;
  font-weight: bold;
  color: #444;
}

.pi_promote_links_body {
  color: #555;
}

.pi_promote_links_read {
  padding: .5em 0 1em 0;
  color: #777;
  
  border-bottom: 1px solid lightgray;
  margin-bottom: 1em;
}

.pi_promote_links_read a {
  font-weight: bold;
}
