

div.pi_promote_shop {
  margin: 0px;
}

div.pi_promote_shop_row {
  text-align: center;
}

div.pi_promote_shop_row_inner {
  display: inline-block;
}

div.pi_promote_shop_item {
  width: 292px;
  display: inline-block;
  padding: 10px;
  text-align: left;  
}

div.pi_promote_shop_item_image {
  width: 290px;
  height: 165px;
  position: relative;
  border: 1px solid #bbb;
  box-shadow: 3px 3px 3px 0px #777;
}

div.pi_promote_shop_item_image:hover {
  box-shadow: 3px 3px 4px 1px #777;
}

div.pi_promote_shop_item_image img {
  position: absolute;
}

div.pi_promote_shop_item_title {
  padding: .4em 0 .2em 0;
  font-weight: bold;
  font-size: 1.5em;
}

div.pi_promote_shop_item_info {
  color: #444;
}

div.pi_promote_shop_item_title,
div.pi_promote_shop_item_info {
  padding-left: 12px;
}
